$secondary-01 : rgba(64, 63, 63, 0.574);
$primary : rgb(247, 116, 28);
$radius : 8px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}

p {
    font-size: 15px;
}